  /* header */
  * {
    margin: 0px;
    padding: 0px;
}

* .header {
    width: 100%;
    background-color: black;
    color: white;
}

.header_content {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.link {
    padding: 0px 5px;
}

a {
    color: white;
    text-decoration: none;
}

.utlis {
    font-size: 20px;
    font-weight: solid;
}

/* section_Heading */
.section {
    padding: 20px 80px;
}

.section_heading {
    font-size: 2rem;
    font-weight: 600px;

}

.textarea {
    width: 600px;
    height: 300px;
}

.first_area {
    border: 3px solid rgb(0, 175, 202);
    border-radius: 5px;
    background-color: rgb(56 92 156);
    color: white;
    font-size: 18px;
    margin: 30px 0px;
}

input {
    margin: 10px 5px;
}

.big_btn {
    width: 150px;
    height: 30px;
    background-color: blue;
    color: white;
    border: transparent;
    padding: 10px;
    border-radius: 5px;
}

.small_btn {
    width: 100px;
    height: 30px;
    background-color: blue;
    color: white;
    border: transparent;
    padding: 10px;
    border-radius: 5px;
}

.bottom_text {
    font-size: 28px;
    font-weight: 600;
    padding: 10px 0px;
}

body {
    background-color: rgb(0, 65, 162);
    color: white;

    transition: background-color 1s;
}

.bottom_content {
    padding: 20px 0px;
}

.charwords {
    font-size: 18px;
    padding: 10px 0px;
}

.minutes {
    padding: 25px 0px;
    font-size: 18px;
}

#live {
    background-color: transparent;
    resize: none;
    border: transparent;
    color: white;
    line-height: 1;
    font-size: 18px;
}

::placeholder {
    color: white;
    font-size: 16px;
}

/* slider */
#toggle {
    width: 30px;
    height: 16px;
    background-color: orange;
    padding: 0;
    border: none;
    border-radius: 16px;

}

#slider {
    width: 14px;
    height: 14px;
    background-color: white;
    margin: 1px;
    transition: margin 1s;
    border-radius: 50%;
    float: right;
}

.active #slider {
    margin-right: calc(100% - 15px);
}

body.active {
    background-color: white;
    color: black;
}

.active ::placeholder {
    color: black;
}

.active #live {
    color: black;
}

/* responsive */
@media screen and (max-width:848px) and (min-width:648px) {
    .section {
        padding: 20px 60px;
    }

    .textarea {
        width: 530px;
        height: 200px;
    }

    .section_heading {
        font-size: 22px;
    }
}

@media screen and (max-width:648px) and (min-width:500px) {
    .section {
        padding: 20px 40px;
    }

    .textarea {
        width: 400px;
        height: 200px;
    }

    .section_heading {
        font-size: 20px;
    }
}


@media screen and (max-width:500px) and (min-width:420px) {
    .header_content {
        display: inline-block;
    }

    .section {
        padding: 20px 20px;
    }

    .header {
        text-align: center;
    }

    .header_content {
        display: inline-block;
        text-align: center;
    }

    .right_header {
        padding: 10px 0px;
    }

    .textarea {
        width: 350px;
        height: 200px;
    }

    .section_heading {
        font-size: 20px;
    }
}

@media screen and (max-width:420px) and (min-width:200px) {
    .section {
        padding: 20px 10px;
    }

    .textarea {
        width: 300px;
        height: 200px;
    }

    .section_heading {
        font-size: 18px;
    }

    .header {
        text-align: center;
    }

    .header_content {
        display: inline-block;
        text-align: center;
    }

    .right_header {
        padding: 10px 0px;
    }
}